.team {
  padding-top: 100px;
  padding-bottom: 60px;
  background: #f8f6f4;
  /*height: 100vh;*/
  .meet-the-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    margin-bottom: 50px;
  }
  .meet-the-team {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    .team-desc {
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      height: 300px;
      width: 300px;
      background: #FFF1F1;
      margin-right: -50px;
      z-index: 2;
      border-radius: 10px;
      /*display: flex;*/
      align-items: center;
      justify-content: space-around;
      padding: 30px;
      p {
        color: black;
      }
      h4 {
        color: black;
      }
    }
    .team-pic {
      height: 400px;
      width: 600px;
      background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), image_url("team.jpg");
      background-size: cover;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;
      p {
        color: transparent;
      }
    }
  }
}

.fun-facts {
  /*height: 150vh;*/
  /*background: #272932;*/
  padding-top: 10px;
  .fun-facts-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    h3 {
    margin-top: 70px;
    margin-bottom: 80px;

    }
  }
  .grid-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 450px;
    width: 450px;
  .fact-square {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-bottom: 70px;
    height: 410px;
    width: 100%;
    background: #FFF1F1;
/*    display: flex;
    align-items: center;
    justify-content: space-around;*/
    p {
      color: black;
    }
    .fact-text {
/*      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;*/
      .fact-header {
        height: 130px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      .fact-icon {
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 70px;
      }
      .fact-paragraph {
        height: 170px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      h5 {
        color: black;
      }
      h3 {
        color: black;
      }
    }
  }
  }
}

