.address-desc {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 250px;
  width: 250px;
  background: #FFF1F1;
  margin-right: -50px;
  z-index: 2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    color: black;
    margin-top: 30px;
    text-align: center;
  }
  i {
    font-size: 40px;
  }
}

.phone-desc {
  margin-right: 0px;
  margin-left: -50px;
}

#location-pic {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), image_url("banner.jpg");
  background-size: cover;
  p {
    color: transparent;
  }
}

#phone-pic {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), image_url("phone.jpg");
  background-size: cover;
  p {
    color: transparent;
  }
}

#email-pic {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), image_url("mail.jpg");
  background-size: cover;
  p {
    color: transparent;
  }
}

.call-us {
  background: #FFE4E4;
  h2 {
    margin-top: 50px;
  }
}

.hr-edit {
  margin-top: 0px;
  margin-bottom: 0px;
}
