.login-outside {
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
  background: #FFE4E4;
  .login-card {
/*    height: 100%;
    width: 100%;
    background: #FFE4E4;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;*/
    h3 {
/*      color: white;*/
      margin-bottom: 20px;
    }
  }
}
