.login-outside {
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 80px;
  color: black;
  background: #FFE4E4;
  .login-card {
/*    height: 100%;
    width: 100%;
    background: #FFE4E4;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;*/
    h3 {
      color: #000D19;
      margin-bottom: 20px;
    }
  }
}
