.payment-summary {
  height: 92vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 80px;
  color: black;
  .payment-card {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: #FFE4E4;
    padding: 100px;
    .amount {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      flex-direction: column;
    }
    button {
      background: #FF6B6B;
      height: 30px;
      width: 160px;
      border-radius: 15px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border: none;
      span {
        background: transparent !important;
      }
      p {
        margin-bottom: 0 !important;
      }
    }
  }


  .order-card {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: #33CA7F;
    padding: 100px;
    .amount {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      flex-direction: column;
    }
  }
}





.order-price-payment {
  background: #FFD6D6;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
/*  h2 {
    color: black;
  }
  p {
    color: black;
  }*/
  hr {
    border: solid 1px black;
  }
  .price-details {
    margin: 100px;
    width: 300px;
  }
  .details-text-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  button {
      background: #FF6B6B;
      height: 30px;
      width: 160px;
      border-radius: 15px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border: none;
      span {
        background: transparent !important;
        font-family: 'Quattrocento', "Helvetica", "sans-serif" !important;
        text-shadow: none !important;
        font-size: 15px !important;
      }
      p {
        margin-bottom: 0 !important;
      }
    }
}

/*.order-price-payment:hover {
  button { background: white;
    transition: background 250ms linear;
    color: #FF6B6B;
    border: solid 3px #FF6B6B;
  }
}*/
