.fifty-fifty {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  .first-half-text {
    height: 100%;
    width: 50%;
    background: #FF443A;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .inner-circle {
      background: #FFDDDB;
      height: 400px;
      width: 400px;
      border-radius: 50%;
      padding: 60px;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      flex-direction: column;
      h2 {
        color: #000D19;
      }
      .fruits-show-page {
        margin-top: 0 !important;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .fruit-icon-and-name {
          margin-right: 15px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-direction: column;
        }
        .fruiticon {
          height: 40px !important;
          width: 40px !important;
          margin-right: 0 !important;
          margin-bottom: 7px !important;
        }
      }
    }
  }
  .second-half-product {
    height: 100%;
    width: 50%;
    background: #FFDDDB;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .inner-circle {
      background: #FF443A;
      height: 400px;
      width: 400px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .wine-bottle-big {
        height: 300px;
        width: auto;
      }
    }
  }
  .exotic-foreplay {
    background: #FFC914;
    .inner-circle {
      background: #FFF5D4;
    }
  }
  .exotic-foreplay-right {
    background: #FFF5D4;
    .inner-circle {
      background: #FFC914;
    }
  }
  .heavy-hickey {
    background: #CE212C;
    .inner-circle {
      background: #F6D6D8;
    }
  }
  .heavy-hickey-right {
    background: #F6D6D8;
    .inner-circle {
      background: #CE212C;
    }
  }
  .flavorful-flirt {
    background: #9E0059;
    .inner-circle {
      background: #EDD0E0;
    }
  }
  .flavorful-flirt-right {
    background: #EDD0E0;
    .inner-circle {
      background: #9E0059;
    }
  }
  .rich-confession {
    background: #C62137;
    .inner-circle {
      background: #F4D6DA;
    }
  }
  .rich-confession-right {
    background: #F4D6DA;
    .inner-circle {
      background: #C62137;
    }
  }
  .fruity-fetish {
    background: #FF006E;
    .inner-circle {
      background: #FFD0E4;
    }
  }
  .fruity-fetish-right {
    background: #FFD0E4;
    .inner-circle {
      background: #FF006E;
    }
  }
  .sweet-secret {
    background: #FF443A;
    .inner-circle {
      background: #FFDDDB;
    }
  }
  .sweet-secret-right {
    background: #FFDDDB;
    .inner-circle {
      background: #FF443A;
    }
  }
}

.arrow-down {
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  i {
    font-size: 30px;
    color: white;
    animation-name: updown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition: color 200ms linear;
  }
  @keyframes updown {
   0% {margin-bottom: 0px;}
   50% {margin-bottom: 7px;}
   100% {margin-bottom: 0px;}
}
}

.allfruits {
  h2 {
    margin-bottom: 20px;
  }
}

.fruitslist {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 70px;
  margin-right: 70px;
}

.fruiticontwo {
  height: 60px !important;
  width: 60px !important;
}


.card-product {
  border: 1px solid white;
  overflow: hidden;
  height: 120px;
  width: 825px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  .fruit-img {
    height: 100%;
    width: 120px;
    background: #000D19;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.card-product:hover {
  box-shadow: 0 0 25px #F8DBC8;
  transition: box-shadow 150ms linear;
  border: none;
  transform: scale(1.02);

}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
}

.card-product .card-product-infos {
  padding: 16px;
}
