.fifty-fifty {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  .first-half-text {
    height: 100%;
    width: 50%;
    background: #FF443A;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .inner-circle {
      background: #FFDDDB;
      height: 400px;
      width: 400px;
      border-radius: 50%;
      padding: 60px;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      flex-direction: column;
      h1 {
        color: black;
      }
      .fruits-show-page {
        margin-top: 0 !important;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .fruit-icon-and-name {
          margin-right: 15px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-direction: column;
        }
        .fruiticon {
          height: 40px !important;
          width: 40px !important;
          margin-right: 0 !important;
          margin-bottom: 7px !important;
        }
      }
    }
  }
  .second-half-product {
    height: 100%;
    width: 50%;
    background: #FFDDDB;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .inner-circle {
      background: #FF443A;
      height: 400px;
      width: 400px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .wine-bottle-big {
        height: 300px;
        width: auto;
      }
    }
  }
  .exotic-foreplay {
    background: #FFC914;
    .inner-circle {
      background: #FFF5D4;
    }
  }
  .exotic-foreplay-right {
    background: #FFF5D4;
    .inner-circle {
      background: #FFC914;
    }
  }
  .heavy-hickey {
    background: #CE212C;
    .inner-circle {
      background: #F6D6D8;
    }
  }
  .heavy-hickey-right {
    background: #F6D6D8;
    .inner-circle {
      background: #CE212C;
    }
  }
  .flavorful-flirt {
    background: #9E0059;
    .inner-circle {
      background: #EDD0E0;
    }
  }
  .flavorful-flirt-right {
    background: #EDD0E0;
    .inner-circle {
      background: #9E0059;
    }
  }
  .rich-confession {
    background: #C62137;
    .inner-circle {
      background: #F4D6DA;
    }
  }
  .rich-confession-right {
    background: #F4D6DA;
    .inner-circle {
      background: #C62137;
    }
  }
  .fruity-fetish {
    background: #FF006E;
    .inner-circle {
      background: #FFD0E4;
    }
  }
  .fruity-fetish-right {
    background: #FFD0E4;
    .inner-circle {
      background: #FF006E;
    }
  }
  .sweet-secret {
    background: #FF443A;
    .inner-circle {
      background: #FFDDDB;
    }
  }
  .sweet-secret-right {
    background: #FFDDDB;
    .inner-circle {
      background: #FF443A;
    }
  }
}
