<div class="about-banner">
  <div class="about-banner-text">
    <h1>You do you</h1>
    <p>Everyone has a different wine taste, and we're here to help you find yours. We believe in the power of design, color, and human empathy to make the journey simpler. Let us help take care of you.</p>
  </div>
</div>
<div class="team">
  <div class="meet-the-header">
    <h1>Meet the Team</h1>
  </div>
  <div class="container meet-the-team">
    <div class="team-desc">
      <p>We are passionate about: wine, lifestyle, design, technology, e-commerce, Pizza Fridays, and bowling... in no specific order. Learn more about what makes us unique.</p>
    </div>
    <div class="team-pic">
      <p>team pic</p>
    </div>
  </div>
</div>

<div class="fun-facts">
  <div class="fun-facts-header">
    <h3>A Few Fun Facts</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 grid-flex">
        <div class="fact-square">
          <p>Fact 1</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 grid-flex">
        <div class="fact-square">
          <p>Fact 2</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 grid-flex">
        <div class="fact-square">
          <p>Fact 3</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 grid-flex">
        <div class="fact-square">
          <p>Fact 4</p>
        </div>
      </div>
    </div>
  </div>
</div>
