<div class="about-banner">
  <div class="about-banner-text">
    <h1>Get In Touch</h1>
  </div>
</div>

<div id="white-wines" class="wine-index-filters">
  <div class="wine-index-filter-left">
    <a href="#address"><p>Address</p></a>
    <a href="#phone"><p>Phone</p></a>
    <a href="#mail"><p>Mail</p></a>
  </div>
</div>

<hr style="background: transparent;" id="address">

<div  class="team find-us">
  <div class="meet-the-header">
    <h2>You Can Find Us Here</h2>
  </div>
  <div class="container meet-the-team">
    <div class="address-desc">
      <i class="fas fa-map-marker-alt"></i>
      <p>WackyWine-Store, Rheingauer Strasse 23, 65343 Eltville am Rhein</p>
    </div>
    <div id="location-pic" class="team-pic">
      <p>team pic</p>
    </div>
  </div>
</div>

<hr style="background: transparent;" id="phone">

<div  class="team call-us">
  <div class="meet-the-header">
    <h2>Call Us</h2>
  </div>
  <div class="container meet-the-team">
    <div id="phone-pic" class="team-pic">
      <p>team pic</p>
    </div>
    <div class="address-desc phone-desc">
      <i class="fas fa-phone"></i>
      <p>+49 111111111</p>
    </div>
  </div>
</div>

<hr style="background: transparent;" id="mail">

<div  class="team text-us">
  <div class="meet-the-header">
    <h2>Let's Chat</h2>
  </div>
  <div class="container meet-the-team">
    <div class="address-desc">
      <i class="fas fa-envelope"></i>
      <p>hello@wackywine.com</p>
    </div>
    <div id="email-pic" class="team-pic">
      <p>team pic</p>
    </div>
  </div>
</div>








