<div class="form-inlining">
  <%= simple_form_for [wine, order_item], :html => { class: 'form'} do |f| %>
    <%= f.submit "Add to Box", class:"purchase-btn" %>
  <% end %>
</div>


<!-- <script type="text/javascript">

const purchasebtn = document.querySelectorAll(".purchase-btn")
const boxicon = document.querySelectorAll(".box-icon")



purchasebtn.forEach(x =>
  x.addEventListener('click', (event) => {
    boxicon[0].style.background = "green";
  })
)

</script> -->
