.wacky-btn {
  background: #FF6B6B;
  height: 30px;
  width: 160px;
  border-radius: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  padding: 0 !important;
  p {
    margin-bottom: 0 !important;
    color: #030125;
  }
}

.wacky-btn-opposite {
  background: white;
  height: 30px;
  width: 160px;
  border-radius: 15px;
  color: #FF6B6B;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: solid 3px #FF6B6B;
  p {
    margin-bottom: 0 !important;
  }
}

.purchase-btn {
  background: #FF6B6B;
  height: 40px;
  width: 175px;
  border-radius: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  p {
    margin-bottom: 0 !important;
  }
}

.wacky-btn:hover {
  background: #030125;
  color: #FF6B6B;
  border: solid 3px #FF6B6B;
  p {
    color: #FF6B6B !important;
  }
}

.wacky-btn-opposite:hover {
  background: #FF6B6B;
  color: white;
  border: none;
}
.purchase-btn:hover {
  background: white;
  color: #FF6B6B;
  border: solid 3px #FF6B6B;
}
